<style type="text/css">
  label
  {
  width: 6em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
  }

  .submit input
  {
  margin-left: 4.5em;
  } 
  input
  {
  color: #781351;
  background: #fee3ad;
  border: 1px solid #781351
  }

  .submit input
  {
  color: #000;
  background: #ffa20f;
  border: 2px outset #d7b9c9
  } 
  fieldset
  {
  border: 1px solid #781351;
  width: 20em
  }

  legend
  {
  color: #fff;
  background: #ffa20c;
  border: 1px solid #781351;
  padding: 2px 6px
  }
</style>

{% extends "base.html" %}
{% block content %}

<h1>Tarea:: crear</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="." method="post">
  {% csrf_token %}
  <p>{{ form.nombre.label_tag }}:{{ form.nombre }}</p>
  <p>{{ form.fechaini.label_tag }}:{{ form.fechaini }}</p>
  <p>{{ form.fechafin.label_tag }}:{{ form.fechafin }}</p>
  <p>{{ form.descripcion.label_tag }}:{{ form.descripcion }}</p>
  <p>{{ form.estado.label_tag }}:{{ form.estado }}</p>
  <p>{{ form.usuario.label_tag }}:{{ form.usuario }}</p>
  <input type="submit" />
</form>
{% endblock %}
