{% extends "base.html" %}

{% block content %}
<h1>Listao de tareas</h1>
{% for object in object_list %}
<div class="{% cycle 'odd' 'even' %}">
<ul class="link-style">
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
</ul>
</div>

{% endfor %}
{% if is_paginated %}
<br />
<hr>
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="/list?page={{ page_obj.previous_page_number }}">anterior | </a>
    {% endif %}
    <span class="page-current">
      Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
    <a href="/list?page={{ page_obj.next_page_number }}"> | siguiente</a>
    {% endif %}
  </span>
</div>
{% endif %}

{% endblock %}
